<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>re&middot;Twit&apos;d</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src='/js/behavior.js'></script>
	<script type="text/javascript">
		var Twitd = {
			toggle_retweets: function( id ) {
				$('#tweet-' + id).toggleClass('retweets-shown');
				return false;
			}
		};
	</script>	
</head>
<body>
<div id="header">
  <div id="sub-head">
    <h1 id="logo"><a href="/">re&middot;Twit&apos;d</a></h1>
  </div>
</div>
<div id="container">
  <div id="timespan">
  Retweets from the last..
  {% for timespan_option in timespans %}
  	{% ifequal timespan_option timespan %}
  		<strong>{{timespan_option}}</strong>
  	{% else %}
  		<a href="/{{timespan_option}}">{{timespan_option}}</a>
  	{% endifequal %}
  {% endfor %}
  </div>
  {% for tweet in tweets %}
  <div class="thread" id="tweet-{{ tweet.id }}">
  	<div class="tweet">
  		<div class="tweet-meta">
  		  <a href="http://www.twitter.com/{{ tweet.from_user }}" class="avatar-link"><img src="{{ tweet.profile_image_url }}" width="48" height="48" /></a>
  		  <p>{{ tweet.text|autolink|autolink_twitter }}</p>
    		<p><a href="http://www.twitter.com/{{ tweet.from_user }}">{{ tweet.from_user }}</a> on <em><a href="http://twitter.com/{{ tweet.from_user }}/status/{{ tweet.id }}">{{ tweet.created_at }}</a></em></p>
  		</div>
  		<a href="#" class="counter-toggle show"><span>{{ tweet.retweet_count }}</span> retweets</a>
			<a href="#" class="toggle-list">Show/Hide</a>
  		<ul class="rt-list"><li class="default"></li></ul>
  		<p class="buttons">
  		<!-- 0 comments | -->
  		<a href="http://twitter.com/home?in_reply_to_status_id={{tweet.id}}&status=%40{{tweet.from_user}}%20"  target="_blank">Reply</a> |
  		<a href="http://twitter.com/home?status={{ tweet.as_retweet }}">Retweet</a>
  		</p>
  	</div>
  </div>
  {% endfor %}
  <div id="pagination">
  	{% if prev_page %}
  		<a class="page newer" href="/{{timespan}}/{{ prev_page }}">&lt;&lt; Newer Posts</a>
  	{% endif %}	
  	<span>{{ page }}</span>
  	{% if next_page %}
  		<a class="page older" href="/{{timespan}}/{{ next_page }}">Older Posts &gt;&gt;</a>
  	{% endif %}
  </div>
</div>
<div id="footer">
  <div id="footer-content">
    <a id="techcrunch" href="http://www.techcrunch.com/2008/12/29/its-not-how-many-followers-you-have-that-counts-its-how-many-times-you-get-retweeted/">Inspired by TechCrunch Article</a>
    <img src="/img/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" /><br />
    <img src="http://members.lycos.nl/jupp/img/ruby.png" />
    <p id="creators">
      Created by:<br />
      <a href="https://twitter.com/makenai">Pawel Szymczykowski</a><br />
      <a href="https://twitter.com/dylanbathurst">Dylan Bathurst</a>
    </p>
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6935535-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>