<html>
<head>
	<title>re&middot;Twit&apos;d</title>
	<style type="text/css">
		div.tweet {
			margin-left: 65px;
			border-bottom: 1px solid black;
		}
		div.retweets {
			width: 50px;
			border: 1px solid black;
			text-align: center;
			padding: 5px 0;
			background-color: yellow;
			float: left;
			font-size: 10px;
		}
		div.retweets div {
			font-size: 25px;
		}
	</style>
</head>
<body>
<h1>re&middot;Twit&apos;d</h1>
{% for tweet in tweets %}
<div class="retweets">
	<div>{{ tweet.retweet_count }}</div> retweets
</div>
<div class="tweet">
	<img src="{{ tweet.profile_image_url }}" width="48" height="48" />
	<b>{{ tweet.from_user }}</b> on <i>{{ tweet.created_at }}</i>
    <blockquote>{{ tweet.text }}</blockquote>
	<ul>
	{% for retweet in tweet.retweet_set %}
		<li>{{ retweet.from_user }}: {{ retweet.text }}</li>
	{% endfor %}
	</ul>
</div>
{% endfor %}

<div>
	{% if prev_page %}
		<a href="/{{ prev_page }}">&lt;&lt; Newer Posts</a>
	{% endif %}	
	{{ page }}
	{% if next_page %}
		<a href="/{{ next_page }}">Older Posts &gt;&gt;</a>
	{% endif %}
</div>

<img src="/img/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />

</body>
</html>